<div class="cbp-item rent">
    <a href="portfolio-detail/work-03.html" class="estate cbp-singlePage">
        <figure>
            <div class="imgout">
                <span class="type">For Rent</span>
                <span class="price">$600/mo</span>
                <img src="images/works/work-03.jpg" alt="" >
            </div>
            <figcaption>
                <span class="title">Palladium Uptown</span><br/>
                <span class="info"><i class="fa fa-map-marker" aria-hidden="true"></i>77 Contry St. Panama City, FL</span>
                <div class="features"><span>Area:</span> 140 m2 <span>Beds:</span> 2 <span>Baht:</span> 1</div>
            </figcaption>
        </figure>
    </a>
</div>
<div class="cbp-item rent">
    <a href="portfolio-detail/work-03.html" class="estate cbp-singlePage">
        <figure>
            <div class="imgout">
                <span class="type">For Rent</span>
                <span class="price">$900/mo</span>
                <img src="images/works/work-01.jpg" alt="" >
            </div>
            <figcaption>
                <span class="title">White Apartment</span><br/>
                <span class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> 775 contry St. Bronx, NY</span>
                <div class="features"><span>Area:</span> 120 m2 <span>Beds:</span> 2 <span>Baht:</span> 1</div>
            </figcaption>
        </figure>
    </a>
</div>