<style>
   body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg)no-repeat center center fixed;
  background-size: cover;
}
.footer{
    position:fixed;
    text-align: center;
    width:100%;
    bottom:10px;
    color:white;
    font-size: 12px;
}
h1{
    color:#f9c546;
    text-transform: uppercase;
}
label{
    text-align: center;
}
.result{
    width: 70%; 
    margin: 50px auto;
    background: white;
    /* background: #444;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff; */
    padding: 0px 0px;   
    border: 1px solid #f9c546; 
    box-shadow: 50px #888888;

    border-radius: 3px;
    max-height: 50px;
    overflow-x: scroll;
    transition: all .9s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transition: all 1s ease-in; */

}

.item-result{
    /* background: #444; */
    /* background: rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* margin:10px; */
    padding:20px 50px;
    color: black;
    clear: both;
    overflow: auto;
    cursor:pointer;

}
.item-result:hover{
        background:#dcdcdc;

}
.search {

  width: 60%;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #f9c546;
  transition: all .5s ease-out;
  color:white;


}

.search input {
  width: 70%;
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {
  outline: 0;
  background: transparent;
}

.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
  outline: 0;
}

</style>
<template>
<div id="apps">
    <div class="label">
        <h1>
            Arsip Digital
        </h1>
    </div>
    
    <div class="search" action="" v-bind:style="styles">
        <input type="search" placeholder="Cari Berdasarkan Nama / NIK / NIP " required v-model="searchq">
        <button @click="search()" type="button">Search</button>
    </div>  
    
    <div class="result" id="myel" :style="resultstyle" @scroll="onScroll" >
        <div class="item-result" v-for="item in employees" @click="viewemployee(item.id)">
            
            <div class="img-holder" style="width:60px;height:60px;border-radius:50%;border:2px solid #f9c546;float:left;overflow:hidden">
                <img :src="'http://simpeg.bee/' + item.profile_picture" style="height:100%;width:100%" >
            </div>
            <div style="font-size:18px;margin:10px;margin-left:20px;float:left;height:100%;vertical-align: middle;">
                
                {{item.front_degree}} {{item.full_name}} {{item.back_degree}}
            </div>
           
        </div>
        
        <div :style="loadingstyle"><center><i class="fa fa-spinner fa-spin"></i>&nbsp;Memuat</center></div>
    </div>
    <div class="footer">
        Arsip Digital Kabupaten Bandung Barat | 2019 All Right Reserved
    </div>
    
</div>
</template>
<script>

module.exports = {
    mode: 'production',
    methods: {
        viewemployee: function(empid){
            // alert(empid);
            // window.location.href('/view/'+empid);
            window.open('/arsipdigital/view/'+empid, '_blank');

        },
        search: function(){
            _this = this;
            this.styles = {
                'margin' : '20px auto',
            }
            this.resultstyle = {
                'display' : 'block',
                'max-height': '500px',
            }
            axios
            .get("http://simpeg.bee/api/find/"+_this.searchq+"?page="+_this.page)
            .then(
                // response => (_this.employees.push(response.data.data),console.log(response.data.data))
                response => (_this.employees = response.data.data)
            )
        },
        loadMoreEmployee : function(){
            _this = this;
            
            this.loadingstyle.display = 'block';
            var el = document.getElementById("myel"); // Or whatever method to get the element
            var top = el.pageYOffset || el.scrollTop;
            var dest = '100';
            // el.scrollTo(0, dest)
            
            console.log(top);

            
            if(this.onloadmore == false){
                this.onloadmore = true;
                axios
                .get("http://simpeg.bee/api/find/"+_this.searchq+"?page="+_this.page,{timeout : 5000})
                .then(
                    // response => (_this.employees.push(response.data.data),console.log(response.data.data))
                    response => (_this.pushemp(response.data.data),_this.loadingstyle.display = 'none',
                    _this.ftime =false,_this.onloadmore=false,_this.page += 1)
                )
            }
            

        },
        pushemp : function(empdata){
            // _this.employees.push(response.data)
            for (let index = 0; index < empdata.length; index++) {
                let mdata = empdata[index];
                this.employees.push(mdata);
            }
        },
        onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
            if (scrollTop + clientHeight >= scrollHeight) {
                this.loadMoreEmployee()
                
                // alert('w');
            }
        },
        
    },
    data: function() {
        return {
            styles: {
                'margin': '150px auto',
                
            },
            resultstyle : {
                'display' : 'none',
                
            },
            loadingstyle : {
                'padding':'5px',
                'display' : 'none',
            },
            employees : [],
            page : 1,
            searchq : '',
            ftime : true,
            onloadmore : false,
        }
    },

    created(){
        
    },

    mounted(){
    }
}
</script>
