<template>
<div id="apps">
    <div>foo xx</div>
</div>
</template>
<script>
module.exports = {
    mode: 'production',
    methods: {
      
    },
    data: function() {
        return {

        }
    },

    created(){
        
    },
    mounted(){
    }
}
</script>
