<template>
<div id="apps">
    <div class="wrapper top_60 container">
<div class="row">
        
<!-- Profile Section
================================================== --> 
<div class="col-lg-3 col-md-4">
    <div class="profile">
        <div class="profile-name">
            <span class="name">ARSIP DIGITAL</span><br>
            <span class="job">Kabupaten Bandung Barat</span>
        </div>
        <figure class="profile-image">
            <!-- <img src="/arsipdigital/images/profile.jpg" alt=""> -->
            <img :src="'http://simpeg.bee/'+employee.profile_picture" alt="" style="max-height:300px;"> 
        </figure> 
        <ul class="profile-information">
            <li></li>
            <li><p><span>Nama:</span> {{employee.front_degree}} {{employee.full_name}} {{employee.back_degree}}</p></li>
            <li><p><span>NIP:</span> {{employee.profileable.nip}}</p></li>
            <li><p><span>Birthday:</span> {{employee.birth_date}}</p></li>
            <li><p><span>Email:</span> {{employee.email_address}}</p></li>
        </ul>
        <div class="col-md-12">
            <button class="site-btn icon">Download Data Pegawai <i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<!-- Page Tab Container Div -->   
<div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">
    
<!-- Header
================================================== --> 
<div class="row">
    <!-- //header here -->
        
    <!-- Page Content
    ================================================== --> 
    <div class="col-md-12">
        <div id="content" class="panel-container">
          
            <!-- Home Page
            ================================================== -->  
            <div id="home">
                <!-- Text Section -->
                <div class="row">
                    <section class="about-me line col-md-12 padding_10 padbot_25 " style="padding-bottom:20px;">
                        <div class="section-title"><span></span><h2>File  </h2></div>    
                        <hr>
                        <!-- <button class="site-btn icon hidden-xs">Semua Jenis File <i aria-hidden="true" class="fa fa-check"></i></button>
                        <button class="site-btn icon hidden-xs">Pendidikan <i aria-hidden="true" class="fa fa-check"></i></button> -->
                    </section>
                </div>
                <!-- My Services Section -->
                <div class="row">
                    <section class="services line graybg col-md-12 padding_50 padbot_50">
                    
                    <div class="row">
                        <!-- a service -->
                        
                        <div class="row">
                            <div class="col-md-12">
                                
                            </div>
                        </div>
                        <div id="w" v-for="item in files">
                            <div class="col-md-3 col-sm-6 col-xs-12" v-for="data in item.files" style="margin-bottom:30px;">
                                <div class="service" style="height:200px;overflow:hidden;padding:0px;">
                                    <div class="icon">
                                        <!-- <i class="flaticon-html"></i> -->
                                        
                                        <center><img :src="'http://simpeg.bee/'+data.thumb" style="width:85%;height:70%;"></center>

                                    </div>
                                    <div class="title" style="background-color:#ffc500;font-size:12px;position:absolute;height:50px;width:86%;bottom:0px;padding:10px;">
                                        <a targe="_blank" :href="'http://simpeg.bee/' + data.path ">[{{item.name}}] {{data.name}}</a>
                                    </div>
                                    <!-- <p class="little-text">I have been working on web design for 10 years.</p> -->
                                </div>
                            </div
                        </div>
                        <!-- a service -->
                        
                    </div>
                </section>
                </div>
                <!-- Skills Section -->
                
            </div>
            
           
                
           
            
        </div><!-- Content - End -->
     </div> <!-- col-md-12 end -->
</div><!-- row end -->
<!-- Footer
================================================== --> 
<footer>
    <div class="footer col-md-12 top_30 bottom_30">
        <div class="name col-md-4 hidden-md hidden-sm hidden-xs">Kabupaten Bandung Barat</div>
        <div class="copyright col-lg-8 col-md-12">© 2019 All rights reserved.</div>  
    </div>
</footer>
    
</div> <!-- Tab Container - End -->
</div> <!-- Row - End --> 
</div> <!-- Wrapper - End -->   
</div>
</template>
<script>


module.exports = {
    mode: 'production',
    beforeRouteEnter (to, from, next) { 
        next(vm => { 
            // access to component's instance using `vm` . this is done because this navigation guard is called before the component is created.

            vm.initializeSearch();
            next()
            
        }) 
    },
    methods: {
        initializeSearch : function(){
            //alert('a');
            _this = this;
            axios
            .get("http://simpeg.bee/api/employee/"+this.$route.params.id)
            .then(
                // response => (_this.employees.push(response.data.data),console.log(response.data.data))
                response => (_this.employee = response.data.data.employee,_this.files = response.data.data.files)
            )
        },
    },
    data: function() {
        return {
            employee : '',
            files : [],
        }
    },

    created(){
        
    },
    mounted(){
    }
}
</script>
